/* Work Sans Font From Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Shared Styles */
* {
  font-family: "Work Sans", sans-serif;
}
.btn_primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  border: 0;
  padding: 20px 25px;
}
.text_light_gray {
  color: #727272;
}
/* Header Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
.nav_tittle {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav li {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: #424242;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #131313;
}
/* Banner Styles */
.banner_content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_tittle {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main Styles */
main{
  max-width: 1440px;
  margin: 70px auto;
}

/* Teams Styles */
.teams_container {
  display: flex;
  align-items: center;
}
.teams_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams_content {
  padding-left: 70px;
  padding-right: 70px;
}
.team_tittle {
  font-size: 2.9rem;
}
.team_tittle .quick_test {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.team_tittle .of_our {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.team_tittle .feture {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}


/* Responsive Media Queries */
/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav, .teams_container {
    flex-direction: column;
  }
  .teams_img_container{
    grid-template-columns: 1fr;
  }
  .teams_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav, .teams_container {
    flex-direction: column;
  }
}